@{
    ViewBag.Title = "SVS";
}

<div class="jumbotron">
    <h1>Spring Valley Software</h1>
    <p class="lead">Escuela de Programadores.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><b>Persy</b> estafador.</p>
    </div>
</div>