@{
    Model = SVS.EF.Entidades.Post;
    ViewBag.Title = "Post";
}

<h2>@ViewBag.Title.</h2>
<p>Vamos a mostrar los Post</p>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

